<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group Chat on Node.js</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; }
        form { background: #fff; padding: 3px; position: fixed; bottom: 0; width: 100%; border-color: #000; border-top-style: solid; border-top-width: 1px;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%; }
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages { list-style-type: none; margin: 0; padding: 0; }
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #eee; }
        .red { color:red; }
        .green { color:green; }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <ul  class="typing"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" id="message-box" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button>Send</button>
    </form>
     <div id="conversation"></div>
    <script>
            var socket = io.connect('http://localhost:3000?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYyNGFjOTk4MzIwNGI4NDFkMjliMTNhYSIsInVzZXJJZCI6IjYyNGFjOTk4MzIwNGI4NDFkMjliMTNhYSIsImZ1bGxOYW1lIjpudWxsLCJzdGF0dXMiOiJBY3RpdmUiLCJmY21Ub2tlbiI6ImNoY0xZSDJiUnItTkJseUJkaktsZFk6QVBBOTFiR1prcTlmMnJHWU9Uek5BTVplQS1nWWl0ajdlQ2ZzaEZGSWQxRFUzVTVmaXU2UURkWFlnYmZFRHZfWVBrc2JFM0MzUy1jaWRIWUZRZG1XREduSzFrNTNMTi1wTDlzUGV6VlhuWnZoN2xOaU9yWTBya25lb21vS21pN1J0Umc5ZnZkM3F2emEiLCJkZXZpY2VUeXBlIjoiQW5kcm9pZCIsImlhdCI6MTY1MDQ0OTg3MCwiZXhwIjoxNjUzMDQxODcwfQ.SCT3lvziFqK9ugaC4hSLWfiKJ5Eqp-cqfZBZVEomhLg');
            var typing=false;
            var timeout=undefined;
            var user;
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                socket.emit('online', {userId:"624ac9983204b841d29b13aa"}); 
                socket.emit('chat_room', {userId:"624ac9983204b841d29b13aa",toUserId:"623056b8d4af2836b6d0094a"});
                //socket.emit('chat_message_ios', $('#txt').val());
                // socket.emit('chat_message_room', {userId:"60a4c74ce4d0882970059452",message:$('#txt').val(),chatId:"60e598af688bc31a732755c1",username:"mylon",profilePic:"url",mediaId:"60debd1945a163105b1c3d3f",'messageType':"text",lat:22.7196,long:75.8577});

                socket.emit('evt_live_calls', {"sme_id":"20002005","initialRecord":"1","batchSize":"60","filterList":[{"name":"startDate","val":"2022-06-07 00:00","op":"33"},{"name":"endDate","val":"2022-06-07 00:00","op":"34"}],});

               socket.emit('get_all_chat_users', {"userId":"624ac9983204b841d29b13aa","limit":10,"pageNo":1});

                //socket.emit('chat_message_read', {userId:"60a4c74ce4d0882970059452",chatId:"60e598af688bc31a732755c1"});

               // socket.emit('chat_question_answer', {userId:"60a4c74ce4d0882970059452",chatId:"60d58dd7a011f4424f29e12f",username:"mylon",profilePic:"url",questionId:"60dc3c3085c60542e4b45554",optionId:"60dc3c3085c60542e4b45555"});  

               // socket.emit('chat_question_answer', {"userId":"60a4c89faac5b01c8db17d51","chatId":"60d5eccc05f36b4c86122e5e","username":"ajit8086","profilePic":"http:\/\/139.59.0.106:3000\/uploads\/userProfilePic\/playdate-user-1621413641289","questionId":"60e690e5eef3751105d7c2db","optionId":"60e690e5eef3751105d7c2dc"}); 

                $('#txt').val('');
                return false;
            });
            // socket.on("chat_question_answer",function(answer){
            //   console.log(answer);
            // });


           // socket.emit('user_status', {"userId":"60a4c89faac5b01c8db17d51"});

            // socket.on('user_status', function(msg){
            //      console.log(msg);
            // });

            // append the chat text message
            socket.on('chat_message_room', function(msg){
                $('#messages').append($('<li>').html("<span class='red'>"+msg.fullName+": <span class='green'>"+msg.message+"</span></span>"));
                console.log(msg);
            });
            socket.on('chat_message', function(msg){
                $('#messages').append($('<li>').html(msg));
            });
            // append text if someone is online
            // socket.on('is_online', function(username) {
            //     $('#messages').append($('<li>').html(username));
            // });
            socket.on("get_all_chat_users",function(Response){
                console.log(Response);
            });

            socket.on('chat_room', function (data) {
                //$('#conversation').append('<b>' + data + '<br>');
                console.log("chat_room");
                console.log(data);
                console.log("chat_room");
            });

               $('#message-box').keypress((e)=>{
                if(e.which!=13){
                  typing=true
                  //socket.emit('typing', {user:user, typing:true})
                  socket.emit('typing', {userId:"60a4c74ce4d0882970059452",typing:true,chatId:"60d58dd7a011f4424f29e12f",username:"mylon",profilePic:"url"});  
                  clearTimeout(timeout)
                  timeout=setTimeout(typingTimeout, 3000)
                }else{
                  clearTimeout(timeout)
                  typingTimeout()
                  //sendMessage() function will be called once the user hits enter
                  sendMessage()
                }
              })

               function isTyping(){
                  typing=true
                  //socket.emit('typing', {user:user, typing:true})
                  socket.emit('typing', {userId:"60a4c74ce4d0882970059452",typing:true,chatId:"60d58dd7a011f4424f29e12f",username:"mylon",profilePic:"url"});  
                  //clearTimeout(timeout)
                  //timeout=setTimeout(typingTimeout, 3000)
               }
                               
              //code explained later
              socket.on('typing', (data)=>{
                //console.log(data);
                if(data.typing==true)
                  $('.typing').text(`${data.username} is typing...`)
                else
                     $('.typing').text(`${data.username} is typing...`)
              })
            // ask username
            //var username = prompt('Please tell me your name');
            // socket.emit('online', {userId:"60a4c74ce4d0882970059452",token:"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYwYTRjNzRjZTRkMDg4Mjk3MDA1OTQ1MiIsInVzZXJJZCI6IjYwYTRjNzRjZTRkMDg4Mjk3MDA1OTQ1MiIsImZ1bGxOYW1lIjoiTXlsb24gTGVlIiwiZW1haWwiOiJteWxvbmxlZUBnbWFpbC5jb20iLCJ1c2VybmFtZSI6Im15bG9ubGVlIiwicGhvbmVObyI6Ijk5ODUwMDI1ODUiLCJzdGF0dXMiOnRydWUsImlhdCI6MTYyNDUyODcwMCwiZXhwIjoxNjI3MTIwNzAwfQ.bGZQsGKwv0HirG_WNKa9rsVqw8jaxc4pqn8oNLY5Ifw"});  
                                                            

                                                                    
    </script>
  </body>
</html>