<div class="payment-main-container">
  <div class="payment-container">
    <div class="container-fluid">
      <div class="col-md-12 px-4" *ngIf="paymentDetails">
        <h4 class="mb-4 text-center">
          Make <strong class="info">PAYMENTS</strong> using
          <img src="../../../assets/img/logo.png" alt="Car Whistler" class="ms-1 img-fluid" style="width: 110px; height: auto;">
        </h4>

        <div class="payment-info mb-3">
          <div class="charges">
            <p><strong>Sticker Charge:</strong> ₹ {{ paymentDetails.sticker_charge }}</p>
            <p><strong>Delivery Charge:</strong> ₹ {{ paymentDetails.delivery_charge }}</p>
          </div>

          <div class="total-amount mt-4 pt-3">
            <h4><strong>Total Amount:</strong> ₹ {{ paymentDetails.amount }}</h4>
          </div>
        </div>

        <div class="payment-actions text-center">
          <button class="btn btn-primary" (click)="payNow()">Pay Now</button>
        </div>
      </div>

      <div *ngIf="!paymentDetails" class="text-center">
        <p>Loading payment details...</p>
        <img src="../../../assets/img/loader.gif" alt="loader" class="ms-1 img-fluid">
      </div>

      <div *ngIf="showLoader" class="text-center">
        <img src="../../../assets/img/loader.gif" alt="loader" class="ms-1 img-fluid">
      </div>
      
    </div>
  </div>
</div>
